@font-face {
    font-family:poppins ;
    src: url(./fonts/Poppins-Light.ttf)
}
body{
    font-family: poppins;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin: 0;
    
   

}
.big-header{
    gap:40px;
    display: flex;
    flex-direction: column;
}

header{
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: space-between !important;
    width: 90vw;
    height: 70px;
    padding:0 5vw;
    top: 0;
    align-items: center;
    font-size: 1.3rem;
    
}




.icon-box{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20%;
    
   
}
.icon-box i{
    cursor: pointer;
    
}
.basket-groupe{
    position: relative;
    gap:5px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: poppins;
    font-size: 0.8rem;
 }
 .basket-groupe i{
    font-size: 1.1rem;
 }

#score-basket{
    position: absolute;
    font-size: 0.7rem;
    bottom: 3px;
    left:20px;
    color: black;

}

.container {
    background-color: white;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 5px;
    width: 500px;
}
.sidebar-container{
    background-color: rgb(28, 28, 92);
    position: fixed;
    top: 130px;
    left: 0;
    width: 300px;
    height: 100vh;
    transition: all .5s ease-out;
    transform: translate(0%);
    opacity: 100%;
    z-index: 1;
    color: white;
  
    
    
 }
    
    .close{
        transform: translate(-100%);
        opacity: 100%;
    }


    
   .sidebar-container ul{
    justify-content: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap:5px;
    font-size: 0.9rem;
   

    
}

.sidebar-container li {
    list-style: none;
   
}
.sidebar-container a{
    color: white;
    text-decoration:none ;
    cursor: pointer;
    padding:8px 0;
    display:block;
    text-transform: capitalize;
    transition: 0.2s ease-out;

}
.sidebar-container ul li:hover a{
    color: black;
    
    

}
.categories{
    border-top: 1px solid rgb(247, 247, 247);
}
.categories,.tendances{
    font-weight: bold;
    font-size: 1.1rem;
}
   


.my-btn{
   font-size: 0.8rem;
   display: none !important;
   color: black !important;
   cursor: pointer;
}



.list2 {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5vw;
    gap:50px;
    flex-direction: row;
    background-color: #ef2346;
    width:90vw ;
    margin-top: -40px;
   
    
   
}
.list2 ul{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

}


.list2 li{
    
    list-style: none;

}
.list2 a{
   
    text-decoration: none;
    color:white;
    cursor: pointer;
}
.big-form{
    display: flex;
    flex-direction: column;
}
.title-decoration{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.title-decoration hr{
    width: 112px;
    margin: 0;
    border:none;
    border-bottom: 4px solid; 
    border-radius: 5px;
}

.oublie{
    color: black;
    text-align: center;
}
.form-container {
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    height: 600px;
    top:-20px;
    
}
.form {
    position: relative;
    flex: 2;
    gap: 20px;
     padding: 20px; 
    
}
.form label{
    color: black;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;

 
    
}

.form-control label {
    margin-bottom: 5px;
    display:inline-block;
    flex-direction: column;
    position: relative;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form button {
    background-color: #8e44ad;
    border: 2px solid #8e44ad;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}
.form-container{
    display: flex;
    padding: 0 20px;
    font-size: 0.9rem;
    margin-top: 100px;
    width: 75%;
    height: 30%;
    border-radius: 10px;
    color:white;
}

.left-container{
background-image: url(./images/book2.avif);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
flex: 3;
padding: 50px 10px;
display: flex;
flex-direction: column;
gap: 40px;
align-items: center;
margin-left: -20px;

}

.connect-button{
background-color: transparent;
border-radius: 30px;
color: white;
padding: 5px;
width: 120px;
height: 50px;
font-size: 0.9rem;
font-family: poppins;
border:1px #2a0091 solid ;
cursor: pointer;
transition: all .3s; 
}
.connect-button:hover{
background-color: black;
color: white;
border: none;
}
@media only screen and (max-width:791px) {
    .my-btn {
        display: block !important;
        color: black;
    }

    .list2{
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        display:none;
       }
    
    
        .sidebar-container{
            display: flex;
            flex-direction: column;
        }
       
        .sidebar-container{
            width: 100vw;
        }
        body{
            margin: 70px 0 0 0 ;
        }
    }
    .navbar{
        display: flex;
        justify-content:space-around;
        gap: 120px;

    } 
@media only screen and (max-width:690px) {
    .left-container{
        display: none;
    }
}